<div>
    <!--MAIN PANEL-->
    <div class="flight-detail-panel" (click)="setSelectedFlight(flight)" [attr.aria-expanded]="!(isCollapsed | async)" aria-controls="collapseBasic">
        <div class="info mission-info">
            <h4>Mission ID:</h4>&nbsp;
            <div class="info-text">
                <span>{{flight.mission_id}}</span>
            </div>
        </div>
        <div class="info departure-info">
            <h4>Departure:</h4>&nbsp;
            <div class="info-text">
                <span>{{flight.departure.iata}}</span>
            </div>
        </div>
        <div class="info arrival-info">
            <h4>Arrival:</h4>&nbsp;
            <div class="info-text">
                <span>{{flight.arrival.iata}}</span>
            </div>
        </div>

        <div class="info takeoff-info">
            <h4>Takeoff:</h4>&nbsp;
            <div class="info-text">
                <span>{{flight.tot | date:'MMM d, y, h:mm a'}}</span>
            </div>
        </div>
        <div class="pull-right">
            <mat-icon *ngIf="isCollapsed | async" svgIcon="more-details" aria-hidden="false" aria-label="Show details"></mat-icon>
            <mat-icon *ngIf="!(isCollapsed | async)" svgIcon="less-details" aria-hidden="false" aria-label="Show details"></mat-icon>
        </div>          
    </div>
    <!--EXTRA DETAILS, COLLAPSED BY DEFAULT-->
    <div id="collapseBasic" [collapse]="isCollapsed | async">
        <div class="flight-extra-info">
            <div class="left-info">
                <div class="detail-info">
                    <label>Mission ID:</label>&nbsp;
                    <span>{{flight.mission_id}}</span>
                </div>
                <div class="detail-info">
                    <label>Departure Airport:</label>&nbsp;
                    <span>{{flight.departure.name}}</span>
                </div>
                <div class="detail-info">
                    <label>Arrival Airport:</label>&nbsp;
                    <span>{{flight.arrival.name}}</span>
                </div>
                <div class="detail-info">
                    <label>Takeoff:</label>&nbsp;
                    <span>{{flight.tot | date:'MMM d, y, h:mm a'}}</span>
                </div>
                <div class="detail-info">
                    <label>Flight time:</label>&nbsp;
                    <span>{{flight.flight_time}}</span>
                </div>
                <div class="detail-info">
                    <label>Aircraft:</label>&nbsp;
                    <img [src]="flight.aircraft.profile_picture_url" [alt]="flight.aircraft.label" class="aircraft-picture" />
                </div>
            </div>
            <div class="right-info">
                <div class="update-button-wrapper">
                    <button type="button" class="btn btn-primary radiation-button" (click)="openModal(template)">
                        Update cosmic radiation value
                    </button>
                    <mat-icon *ngIf="updateSuccessFull | async" svgIcon="success" aria-hidden="false" aria-label="Show details" class="update-success-icon"></mat-icon>
                </div>
            </div>
        </div>
    </div>
    <!--RADIATION UPDATE MODAL-->
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Update cosmic radiation</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <form class="form" [formGroup]="cosmicValueForm">
                    <label class="cosmic-label">Cosmic value:</label>
                    <input class="form-control" type="number" formControlName="cosmicValue">
                </form>
                <div class="cosmic-value-error" [ngClass]="{'reveal' : (showError | async)}">
                    {{ showError | async }}
                </div>
            </div>
            
            <button type="button" class="btn btn-default" (click)="decline()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="confirm()" [attr.disabled]="(this.cosmicValueForm.invalid)? true : false | async">Save</button>
        </div>
    </ng-template>
</div>