.flight-detail-panel {
    padding: 5px;
    position: relative;
    cursor: pointer;

    .info {
        display: inline-flex;

        &.mission-info {
            min-width: 200px;
        }
        
        &.departure-info {
            min-width: 200px;
        }
        
        &.arrival-info {
            min-width: 200px;
        }

        .info-text {
            line-height: 32px;
            
            span {
                vertical-align: middle;
            }
        }
    }

    .pull-right {
        display: inline-block;
        position: absolute;
        right: 5px;
    }
}

.flight-detail-panel:hover {
    background-color: lightcyan;
}

#collapseBasic {
    padding: 20px;
    .flight-extra-info {
        display: flex;
        .detail-info {
            label {
                min-width: 150px;
            }

            .aircraft-picture {
                max-height: 100px;
            }
        }

        .radiation-button {
            margin-top: 20px;
        }

        .right-info {
            padding-left: 30px;

            .update-button-wrapper {
                display: flex;

                .update-success-icon {
                    align-self: center;
                    margin-top: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.modal-body {
    .form {
        margin-bottom: 15px;
    }

    .cosmic-value-error {
        color: red;
        margin-bottom: 10px;
    }
}