
.flight-overview {
    
    h2 {
        padding-top: 20px;
        padding-bottom: 8px;
    }

    .flight-list {
        max-width: 950px;
        min-height: 825px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .separator {
            border-bottom: 1px solid black;
        }

        .pagination-separator {
            flex-grow: 1;
        }

        .paging {
            vertical-align: bottom;
        }
    }
}
