<div class="flight-overview container">
    FLIGHT OVERVIEW
    <div class="flight-list">
        <!--<accordion>
            <accordion-group>

            </accordion-group>
        </accordion>-->
        <div *ngFor="let flight of (pagedFlights | async); let i = index" [ngClass]="{'separator': i < (pagedFlights | async).length - 1}">
            <flight-detail [flight]="flight"></flight-detail>
        </div>
        <pagination [totalItems]="(numberOfFlights | async)" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>