<div class="flight-overview container">
    <h2>FLIGHT OVERVIEW</h2>
    <div class="flight-list">
        <!--<accordion>
            <accordion-group>

            </accordion-group>
        </accordion>-->
        <div *ngFor="let flight of (pagedFlights | async); let i = index" [ngClass]="{'separator': i < (pagedFlights | async).length - 1}">
            <flight-detail [flight]="flight"></flight-detail>
        </div>
        <div class="pagination-separator">
        </div>
        <pagination [totalItems]="(numberOfFlights | async)" (pageChanged)="pageChanged($event)" class="paging"></pagination>
    </div>
</div>