.flight-overview {
    
    h2 {
        padding-top: 20px;
        padding-bottom: 8px;
    }

    .flight-list {
        min-height: 775px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        border: 1px solid lightgray;
        padding: 3px;

        .separator {
            border-bottom: 1px solid black;
        }

        .pagination-separator {
            flex-grow: 1;
        }
    }
    
    .paging {
        vertical-align: bottom;
        margin-top: 10px;
        display: none;
    }
}

@media (min-width: 1440px) {
    .flight-overview {    
        .flight-list {
            max-width: 950px;
        }
    }
}

@media (min-width: 1024px) {
    .flight-overview {    
        .paging {
            display: block;
        }
    }
}

